# `nitpick` specific configuration.
# `nitpick` ensures that you have the same configuration
# in your own project.

# Make sure to install it with:
# `pip install nitpick`

["setup.cfg".isort]
# These values should be placed inside `setup.cfg` in your repo:
combine_as_imports = true
order_by_type = false
force_grid_wrap = 0
force_sort_within_sections = true
line_length = 79
lines_between_types = 0
multi_line_output = 3
no_lines_before = "STDLIB,LOCALFOLDER"
reverse_relative = true
default_section = "THIRDPARTY"
sections = "STDLIB,THIRDPARTY,DL,FIRSTPARTY,LOCALFOLDER"
skip_glob = "**/__init__.py"
force_to_top = "typing"
include_trailing_comma = true
use_parentheses = true

[nitpick.files."setup.cfg"]
comma_separated_values = ["isort.no_lines_before","sections"]
